body {
    background-color: bisque;
}

h1 {
    font-family: "Island Moments", cursive;
    border: 2px solid green;
    color: magenta;
    text-shadow: 5px 5px 10px black;
    padding: 40px;
}
p {
    border: 2px solid green;
    padding: 10px;
    color: red;
    font-size: 100%;
    padding: 40px;
    margin: 100px;
    border-radius: 40px;
    text-shadow: 2px 2px 3px blue;
}